.sidebar {
  display: flex;
  flex-direction: column;
  min-width: $size--sidebar-width;

  &-header {
    align-items: center;
    display: flex;
    min-height: 44px;
    padding-left: 1.6rem;

    h4 {
      margin: 0;
    }
  }
}

.containers {
  border-right: 1px solid $gray-lightest;
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: auto;

  ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    min-height: min-content;
  }
}
