.container-stats {
  background-color: $color-background;
  flex: 1;
  padding-left: 1.6rem;

  .stats {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;

    .stat {
      display: flex;
      flex-direction: column;
      margin: 0 $space $space 0;
      min-height: 300px;
      min-width: 500px;

      &-header {
        display: flex;
        align-items: center;
        height: 40px;
        background-color: #100F2A;
        padding: 0 $space;

        h3 {
          margin: 0;
          color: white;
        }
      }

      &-body {
        padding: $space;
        background-color: white;
      }
    }
  }
}
