.container {
  display: flex;
  height: 45px;
  padding: 0 1.6rem;
  align-items: center;

  &-state {
    background-repeat: no-repeat;
    background-size: 20px 20px;
    height: 20px;
    overflow: hidden;
    width: 20px;

    &-running {
      background-image: url('../images/running.png');
    }

    &-exited {
      background-image: url('../images/stopped.png');
    }
  }

  &-info {
    padding-left: $space;
    display: flex;
    flex-direction: column;
    color: $gray-darkest;

    .name {
      text-overflow: ellipsis;
      max-width: 140px;
      white-space: nowrap;
      overflow: hidden;
      font-size: 13px;
      font-weight: 400;
    }

    .image {
      margin-top: -0.1rem;
      color: $gray-light;
      font-size: 11px;
      font-weight: 400;
      text-overflow: ellipsis;
      max-width: 140px;
      white-space: nowrap;
      overflow: hidden;
    }
  }

  &--selected {
    background-color: $brand-primary;

    .container-state {
      &-running {
        background-image: url('../images/running-white.png');
      }
    }
    .container-info {
      .name, .image {
        color: white;
      }
    }
  }
}
